<h2>Reactive Registration Form</h2>
(using bootstrap)

<div class="container mt-5">
  <form [formGroup]="regForm">
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
        type="text"
        id="firstname"
        class="form-control"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastname"
      />
    </div>
    <div class="form-group">
      <label for="email">eMail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>

    <div id="address">
      <div class="form-group">
        <label for="street">Street and HouseNo</label>
        <input type="text" class="form-control" id="street" />
      </div>
      <div class="form-group">
        <label for="city">ZIP and City</label>
        <input type="text" class="form-control" id="city" />
      </div>
    </div>

    <button class="btn btn-primary" type="submit" (submit)="onSubmit()">
      Register
    </button>
  </form>
</div>
